* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 10px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
h1 {
  color: cadetblue;
}
button {
  padding: 5px 10px;
  font-size: 1.2rem;
  background-color: cadetblue;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
}
#container {
  width: 500px;
  height: 500px;
  background-color: whitesmoke;
  padding: 5px;
  display: grid;
  gap: 5px;
}
